.chart__wrapper {
    &-bar {
        border-radius: 20px;
        &-text {
            text-align: left;
        }
        &-container {
            padding: 0 5%;
        }
    }
    width: 50vw;
    height: 379px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: $shadow;
    &-header {
        padding: 0 5%;
        
        &-text {
            border-bottom: 1px solid #EBEFF2;
            margin-bottom: 20px;
        }
    }
    &-dist {
        width: 40vw;
        height: 379px;
    }
}
.chart__container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    align-items: center;
}
.canvasjs-chart-credit {
    display: none;
}

.canvasjs-chart-container {
    display: flex;
    justify-content: flex-start;
}