.header {
    &__container {
        padding: 0 5%;
    }
    &__text {
        border-bottom: 1px solid #EBEFF2;
        padding: 1% 0;
        margin: 20px 0;
        text-align: left;
    }
}