.study {
    height: 654px;
    width: 818px;
    &__header {
        width: 80%;
        background-color: #DAC8FF;
        height: 165px;
        border-radius: 20px;
        display: flex;
    }
    &__img {
        margin-left: 2%;
    }
    &__container {
        display: flex;
        justify-content: center;
    }
    &__description {
        padding: 0 5%;
    }
    &__text {
        padding-top: 40px;
        text-align: left;
        margin-left: 11%;
    }
    &__graph {
        display: flex;
        justify-content: center;
    }
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06)

}