button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
}

.SessionTimer {
    padding: 10px;
    background: $purple;
    border-radius: 20px;
    box-shadow: $shadow;
    color: white;
    .time {
        margin: auto 0;
        color: white;
        font-size: 5em;
        padding-right: 0.75em;
    }
}

.thing {
    display:flex;
    flex-direction:row;
}

#buttonGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
    button {
        border-radius: 30px;
        font-size: 20px;
        font-weight: bold;
        margin: 5% 4% auto 4%;
        background: white;
        color: $purple; 
        height:6vh;
        width:20vw
    }
}