@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import "./Partials/variables";
@import "./Partials/distraction";
@import "./Partials/breakpoints";
@import "./Partials/modal";
@import "./Partials/header";
@import "./Partials/charts";
@import "./Partials/timer";
@import "./Partials/course";
@import "./Partials/environment";
@import "./Partials/envAnalysisN";
@import "./Partials/list";
@import "./Partials/study";
 body {
    font-family: 'Poppins', sans-serif;
     background-color:  #E5E5E5;
 }
 
 .middle-container {
    justify-content: space-evenly;
    display: flex;
    height: 40vh;
    margin: 2% 0;
    &__ambient {
        display: flex;
        flex-direction: column;
    }
 }
